# Python
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Streamlit
.streamlit/

# Data
data/*.csv
data/*.xlsx
!data/db_config.json
!data/supplier_config.json

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
